<%= form_with(model: event, local: true) do |form| %>
  
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# This is the name of the account that will display %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

 <%# This sets the frequency %>
  <div class="field">
    <abbr title="select 'not recurring' if a one time expense. Select 'set schedule' to select frequency">
      <%= form.label :recurring_date  %>
      <%= form.select_recurring :recurring, nil, allow_blank: true %>
    </abbr>
  </div>
  
<%# This is the when the bill needs to be paid %>
  <div class="field input_field">
    <%= form.label :due_date %>
    <%= form.date_field :due_date %>
  </div>      
<%#end%>

  <%# Was this paid or not paid for this month? %>
  <div class="field">
      <%= form.label :was_paid %>
      <%= form.check_box :was_paid %>
  </div>

  <%# How much is due for this bill for the current month? %>
  <div class="field">
    <%= form.label :amount_due %>
    $<%= form.number_field  :amount_due %>
  </div>

  <%# This will determine if this bill is ADDED or SUBTRACTED from the current total for the month%>
  <div class="field">
    <ul class="radios">
      <li>
        <%= form.radio_button :flow, :income %> <%= form.label :flow_income, "Income" %>
      </li>
      <li>
        <%= form.radio_button :flow, :expense %> <%= form.label :flow_expense, "Expense" %>
      </li>
    </ul>
  </div>

  <%# This is for the user to type notes about the account %>
  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <%# sends the create request %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
