<p id="notice"><%= notice %></p>

<h1>Add Account</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <%# <th>Due date</th> %>
      <th>Recurring</th>
      <th>Amount due</th>
      <th>Income/Expense</th>
      <th>Was paid</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <%#<td><%= event.due_date %> <%#</td>%>
        <td><%= event.recurring %></td>
        <td><%= event.amount_due %></td>
        <td><%= event.flow %></td>
        <td><%= event.was_paid %></td>
        <td><%= event.notes %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
