<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @event.due_date %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @event.recurring %>
</p>

<p>
  <strong>Amount due:</strong>
  <%= @event.amount_due %>
</p>

<p>
  <strong>Income:</strong>
  <%= @event.income %>
</p>

<p>
  <strong>Was paid:</strong>
  <%= @event.was_paid %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @event.notes %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
