<!DOCTYPE html>
<html>
  <head>
    <title>BackEnd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <%= link_to "Accounts", accounts_path %>
          <%= link_to "History", histories_path %>

          </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
